<nav class="navbar navbar-expand-lg motu-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>Final - Angular - Marina</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/characters" class="nav-link" routerLinkActive="active">
            PERSONAJES
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/locations" class="nav-link" routerLinkActive="active">
            LUGARES
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/weapons" class="nav-link" routerLinkActive="active">
            ARMAS
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/character-form" class="nav-link nav-cta" routerLinkActive="active">
            AGREGAR PERSONAJE
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
